@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e1e1e;
    --muted: #f0f4fa;
    --muted-foreground: #6d7c8c;
    --popover: #ffffff;
    --popover-foreground: #1e1e1e;
    --card: #ffffff;
    --card-foreground: #1e1e1e;
    --border: #e3e6ea;
    --input: #e3e6ea;
    --primary: #2B4B80;
    --primary-foreground: #ffffff;
    --secondary: #f0f4fa;
    --secondary-foreground: #3a4a5a;
    --accent: #f0f4fa;
    --accent-foreground: #3a4a5a;
    --destructive: #e63946;
    --destructive-foreground: #ffffff;
    --ring: #2B4B80;
    --chart-1: #e8743b;
    --chart-2: #3ac47d;
    --chart-3: #4780c4;
    --chart-4: #b5ce8d;
    --chart-5: #fccb8b;
    --radius: 0.5rem;
  }

  .dark {
    --background: #1e1e1e;
    --foreground: #ffffff;
    --muted: #2b2e33;
    --muted-foreground: #a5b3c5;
    --popover: #1e1e1e;
    --popover-foreground: #ffffff;
    --card: #1e1e1e;
    --card-foreground: #ffffff;
    --border: #2b2e33;
    --input: #2b2e33;
    --primary: #5b94ff;
    --primary-foreground: #3a4a5a;
    --secondary: #2b2e33;
    --secondary-foreground: #ffffff;
    --accent: #2b2e33;
    --accent-foreground: #ffffff;
    --destructive: #9e1d1b;
    --destructive-foreground: #ffffff;
    --ring: #4977ff;
    --chart-1: #4580e6;
    --chart-2: #339d78;
    --chart-3: #f29948;
    --chart-4: #a366c7;
    --chart-5: #d3426f;
  }
}
